{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    <h4><a href="{{ path('app_home_page') }}">home</a></h4>
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
{% endblock %}